<div
  class="container"
  [ngClass]="{
    'open-envelope': isOpened === true,
    'close-envelope': isOpened === false
  }"
>
  <div class="invite-container">
    <ngx-flip [flip]="flipDiv" class="flip-card-inner">
      <div front class="flip-card-front">
        <div
          class="top-envelope"
          (click)="toggleEnvelope()"
          [ngClass]="{
            open: isOpened === true,
            close: isOpened === false
          }"
        ></div>
        <div
          class="back-top-envelope"
          [ngClass]="{
            'open-back-top ': isTicketOpened === true,
            'close-back-top': isTicketOpened === false
          }"
        >
          <div class="interior-border"></div>
          <ngx-flip
            [flip]="flipTicket"
            class="flip-ticket"
            [ngClass]="{
              'ticket-open': isTicketOpened === true,
              'ticket-close': isTicketOpened === false
            }"
            (click)="toggleTicket()"
          >
            <div front class="flip-ticket-content">
              <div class="ticket ticket-front"></div>
            </div>
            <div back class="flip-ticket-content">
              <div class="ticket ticket-back"></div></div
          ></ngx-flip>
        </div>
      </div>
      <div back class="flip-card-back">
        <div class="back-envelope"></div>
      </div>
    </ngx-flip>
  </div>

  <button mat-icon-button class="flipButton" (click)="onFlipClick()">
    <mat-icon>favorite</mat-icon>
  </button>
</div>
