<div
  class="container"
  [ngClass]="isOpened ? 'open-envelope' : 'close-envelope'"
>
  <div class="invite-container">
    <ngx-flip [flip]="flipDiv" class="flip-card-inner">
      <div front class="flip-card-front">
        <div
          class="top-envelope"
          (click)="toggleEnvelope()"
          [ngClass]="isOpened ? 'open' : 'close'"
        ></div>
        <div
          class="back-top-envelope"
          [ngClass]="isTicketOpened ? 'open-back-top ' : 'close-back-top'"
        >
          <div class="interior-border"></div>
          <div
            class="ticket"
            (click)="toggleTicket()"
            [ngClass]="isTicketOpened ? 'ticket-open' : 'ticket-close'"
          ></div>
        </div>
      </div>
      <div back class="flip-card-back">
        <div class="back-envelope"></div>
      </div>
    </ngx-flip>
  </div>

  <button mat-icon-button class="flipButton" (click)="onFlipClick()">
    <mat-icon>favorite</mat-icon>
  </button>
</div>
