.container {
  &.open-envelope {
    animation: slideDown 1.1s ease-in forwards;
  }
  &.close-envelope {
    animation: slideUp 1.1s ease-in forwards;
  }
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.invite-container {
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.back-envelope {
  background-image: url("../Images/plic-spate.PNG");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  perspective: 1800px;
  filter: drop-shadow(-20px -20px 4px grey);
  transform: rotate(180deg);
}

.top-envelope {
  background-image: url("../Images/plicfata.PNG");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  filter: drop-shadow(20px 20px 4px grey);
  cursor: pointer;
}

.back-top-envelope {
  z-index: 1;
  position: absolute;
  background-image: url("../Images/plic-spate-sus.PNG");
  background-repeat: no-repeat;
  filter: drop-shadow(20px 20px 4px grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .back-envelope,
  .top-envelope,
  .back-top-envelope,
  .flip-card-inner {
    width: 800px;
    height: 300px;
    background-size: 800px 300px;
  }

  .interior-border {
    width: 800px;
    height: 90px;
    background-size: 800px 90px;
  }

  .ticket {
    width: 750px;
    height: 270px;
    background-size: 750px 270px;
  }
}

@media screen and (max-width: 900px) {
  .back-envelope,
  .top-envelope,
  .back-top-envelope,
  .flip-card-inner {
    width: 80vw;
    height: calc(80vw * 0.37);
    background-size: 80vw calc(80vw * 0.37);
  }

  .interior-border {
    width: 80vw;
    height: calc(80vw * 0.1);
    background-size: 80vw calc(80vw * 0.1);
  }

  .ticket {
    width: 75vw;
    height: calc(75vw * 0.37);
    background-size: 75vw calc(75vw * 0.37);
  }
}

.interior-border {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-image: url("../Images/bandainterior.PNG");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 5px #413947);
}

.ticket {
  z-index: 2;
  background-image: url("../Images/biletfata.PNG");
  background-repeat: no-repeat;
  position: absolute;
}

.flip-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

.open {
  animation: flipOpen 1s ease-in forwards alternate;
}

.close {
  animation: flipClose 1s ease-in forwards alternate;
}

@keyframes slideDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 5vh;
  }
}

@keyframes slideUp {
  0% {
    padding-top: 5vh;
  }
  100% {
    padding-top: 0;
  }
}

@keyframes flipOpen {
  0% {
    transform: rotateX(0deg);
    transform-origin: center top;
    background-image: url("../Images/plicfata.PNG");
  }
  60% {

    background-image: url("../Images/plicfata.PNG");
  }
  70% {
    background-image: url("../Images/plic-spate-sus.PNG");
  }
  100% {
    transform: rotateX(180deg);
    transform-origin: center top;
    background-image: url("../Images/plic-spate-sus.PNG");
  }
}

@keyframes flipClose {
  0% {
    transform: rotateX(180deg);
    transform-origin: center top;
    background-image: url("../Images/plic-spate-sus.PNG");
  }
  60% {
    background-image: url("../Images/plic-spate-sus.PNG");
  }
  70% {
    background-image: url("../Images/plicfata.PNG");
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: center top;
    background-image: url("../Images/plicfata.PNG");
  }
}

.flip-card-back {
  rotate: 180;
}

.flipButton {
  width: 100px;
  height: 100px;
}

.ticket-open {
  animation: openTicket 1.1s ease-in forwards;
}

@keyframes openTicket {
  0% {
    top: 0%;
  }
  90% {
    top: -25%;
    z-index: 8;
    filter: drop-shadow(20px 20px 10px #413947);
  }
  100% {
    margin-bottom: 0%;
    z-index: 8;
    filter: drop-shadow(20px 20px 10px #413947);
  }
}

mat-icon {
  color: #423b49;
}
