<h1 mat-dialog-title>
    <div class="close-button" (click)="close()">x</div>
</h1>
<div mat-dialog-content>
    <p class="help-row">Aceasta invitatie se poate folosi intr-o maniera similara invitatiei fizice.</p>
    <p class="help-row">Plicul se poate deschide apasand pe partea din fata a acestuia si se poate inchide apasand pe partea de sus, situata deasupra biletului din interiorul acestuia.</p>
    <p class="help-row">Biletul se poate scoate din plic si adauga din nou in plic apasand oriunde pe suprafata lui.</p>
    <div class="help-row help-button-row">
        <div class="help-flip-button"></div>
        <div class="button-description">
            (sub invitatie) - Roteste plicul sau biletul din interior, daca acesta este scos din plic. 
        </div>
    </div>
    <div class="help-row help-button-row">
        <div class="help-background-button"></div>
        <div class="button-description">
            (dreapta sus) - Ascunde invitatia pentru a se putea vedea mai bine pozele din fundal. De asemenea, face invitatia vizibila cand aceasta este ascunsa. 
        </div>
    </div>
    <div class="help-row help-button-row">
        <div class="help-location-button"></div>
        <div class="button-description">
            (dreapta sus) - Arata adresa locatiei evenimentului. 
        </div>
    </div>
</div>
