<div class="header-container">
  <div class="close-button" (click)="close()">x</div>
</div>
<div mat-dialog-content>
  <div class="help-row">
    <p class="help-left">Deschide Plicul</p>
    <div class="help-right-container">
      <p>-</p>
      <p class="help-right">
        Apasati pe plic (oriunde)
      </p>
    </div>
  </div>
  <div class="help-row">
    <p class="help-left">Deschide Invitatia</p>
    <div class="help-right-container">
      <p>-</p>
      <p class="help-right">
        Apasati pe invitatie (oriunde)
      </p>
    </div>
  </div>
  <div class="help-row">
    <p class="help-left">Inchide Invitatia</p>
    <div class="help-right-container">
      <p>-</p>
      <p class="help-right">
        Apasati pe invitatie (oriunde)
      </p>
    </div>  
  </div>
  <div class="help-row">
    <p class="help-left">Inchide Plicul</p>
    <div class="help-right-container">
      <p>-</p>
      <p class="help-right">
        Apasati pe partea superioara a plicului (oriunde)
      </p>
    </div>  
  </div>
  <div class="help-row help-button-row">
    <div class="help-left">
      <div class="help-flip-button"></div>
      <p class="button-description">(sub invitatie)</p>
    </div>
    <p>-</p>
    <div class="help-right">
      Roteste plicul sau biletul din interior, daca acesta este scos din plic.
    </div>
  </div>
  <div class="help-row help-button-row">
    <div class="help-left">
      <div class="help-background-button"></div>
      <p class="button-description">(dreapta sus)</p>
    </div>
    <p>-</p>
    <div class="help-right">
      Ascunde invitatia pentru a se putea vedea mai bine pozele din fundal. Face
      invitatia vizibila cand aceasta este ascunsa.
    </div>
  </div>
  <div class="help-row help-button-row">
    <div class="help-left">
      <div class="help-location-button"></div>
      <p class="button-description">(dreapta sus)</p>
    </div>
    <p>-</p>
    <div class="help-right">
      Arata adresa locatiei evenimentului.
    </div>
  </div>
</div>
