<div
  class="container"
  [ngClass]="{
    'open-envelope': isOpened === true,
    'close-envelope': isOpened === false,
    'hide-all': !showInvitation,
    'show-all': showInvitation
  }"
>
  <div class="action-buttons">
    <a
      class="background-icon location-background"
      href="https://goo.gl/maps/9QFmWcgbhuqZY3tf6"
      target="_blank"
      matTooltip="Locatie Restaurant"
      matTooltipPosition="left"
      ><div class="action-button location"></div
    ></a>
    <div class="background-icon background-icon-background">
      <div
        (click)="toggleAll()"
        class="action-button background-flip"
        matTooltip="{{
          showInvitation ? 'Ascunde Invitatia' : 'Arata Invitatia'
        }}"
        matTooltipPosition="left"
      ></div>
    </div>
  </div>
  <div class="invite-container">
    <div class="click-here-container-envelope">
      <app-custom-helper
        [clickHere]="clickHere['clickHereTopEnvelope'] === 0"
      ></app-custom-helper>
    </div>
    <div class="click-here-container-ticket">
      <app-custom-helper
        [clickHere]="clickHere['clickHereTopTicket'] === 0"
      ></app-custom-helper>
    </div>
    <ngx-flip [flip]="flipDiv" class="flip-card-inner">
      <div front class="flip-card-front">
        <div
          class="top-envelope"
          (click)="toggleEnvelope()"
          [ngClass]="{
            open: isOpened === true,
            close: isOpened === false,
            'can-hover-envelope': !isOpened
          }"
        >
          <span
            class="inviteText"
            [ngClass]="{
              hideText: isOpened === true,
              showText: isOpened === false
            }"
            [ngStyle]="{ 'font-size': envelopeTextFontSize + 'px' }"
          >
            {{ envelopeText | envelopeTextPipe }}</span
          >
        </div>
        <div class="back-top-envelope">
          <div class="interior-border-container">
            <div class="interior-border"></div>
          </div>
          <ngx-flip
            [flip]="flipTicket"
            class="flip-ticket"
            [ngClass]="{
              'ticket-open': isTicketOpened === true,
              'ticket-close': isTicketOpened === false,
              'can-hover-ticket': hoverTicket === true,
              hide: !isOpened
            }"
            (click)="toggleTicket()"
          >
            <div front class="flip-ticket-content">
              <div class="ticket ticket-front"></div>
            </div>
            <div back class="flip-ticket-content">
              <div class="ticket ticket-back"></div></div
          ></ngx-flip>
        </div>
      </div>
      <div back class="flip-card-back">
        <div class="back-envelope"></div>
      </div>
    </ngx-flip>
  </div>

  <button
    #toggleButton
    mat-icon-button
    class="flipButton"
    (click)="onFlipClick()"
  >
    <mat-icon
      class="flipIcon"
      matTooltip="Rotește"
      matTooltipPosition="left"
    ></mat-icon>
    <div class="click-here-container">
      <app-custom-helper
        [clickHere]="
          clickHere['clickHereEnvelope'] === 0 ||
          clickHere['clickHereTicket'] === 0
        "
      ></app-custom-helper>
    </div>
  </button>
</div>
