@import "../Utils/keyframes.scss";

.container {
  &.open-envelope {
    -webkit-animation: slideDown 1.1s ease-in forwards;
    animation: slideDown 1.1s ease-in forwards;
  }
  &.close-envelope {
    -webkit-animation: slideUp 1.1s ease-in forwards;
    animation: slideUp 1.1s ease-in forwards;
  }

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: overlay;
}

.invite-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 12px;
}

// Back Envelope
.back-envelope {
  background-image: url("../Images/plic-spate.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.drop-shadow {
  -webkit-filter: drop-shadow(1px 1px 22px black)
    drop-shadow(-1px -1px 22px black);
  filter: drop-shadow(1px 1px 22px black) drop-shadow(-1px -1px 22px black);
}

// Top Envelope
.top-envelope {
  background-image: url("../Images/plicfata.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: 12;
  cursor: url("../Images/heart.png"), auto;
  cursor: url("../Images/heart.cur"), auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 1s, -webkit-box-shadow 1s;
  transition: -webkit-transform 1s, -webkit-box-shadow 1s;
  -o-transition: transform 1s, box-shadow 1s;
  transition: transform 1s, box-shadow 1s;
  transition: transform 1s, box-shadow 1s, -webkit-transform 1s,
    -webkit-box-shadow 1s;
}

.hideText {
  -webkit-animation: hideText 1s ease-in forwards alternate;
  animation: hideText 1s ease-in forwards alternate;
}

.showText {
  -webkit-animation: showText 1s ease-in none alternate;
  animation: showText 1s ease-in none alternate;
}

.open {
  @media screen and (min-width: 950px) {
    -webkit-animation: flipOpen 1s ease-in forwards alternate;
    animation: flipOpen 1s ease-in forwards alternate;
  }
  @media screen and (max-width: 950px) {
    -webkit-animation: flipOpenMobile 1s ease-in forwards alternate;
    animation: flipOpenMobile 1s ease-in forwards alternate;
  }
}

.close {
  -webkit-animation: flipClose 1s ease-in none alternate;
  animation: flipClose 1s ease-in none alternate;
}

.flip-card-front {
  -webkit-filter: drop-shadow(1px 1px 22px black)
    drop-shadow(-1px -1px 22px black);
  filter: drop-shadow(1px 1px 22px black) drop-shadow(-1px -1px 22px black);
}

// Inside Envelope
.back-top-envelope {
  z-index: 1;
  position: absolute;
  background-image: url("../Images/plic-spate-sus.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 321px) and (max-height: 481px) {
  .container {
    margin-top: 35px;
  }
}

@media screen and (max-height: 389px) and (max-width: 570px) and (orientation: landscape) {
  .back-envelope,
  .top-envelope,
  .back-top-envelope,
  .flip-card-inner {
    max-width: calc(100vh * 0.9);
    max-height: calc(100vh * 0.9 * 0.37);
  }

  .interior-border-container {
    max-width: calc(100vh * 0.9);
    max-height: calc(100vh * 0.9 * 0.1);
  }

  .ticket {
    max-width: calc(95vh * 0.9);
    max-height: calc(95vh * 0.9 * 0.37);
  }

  .click-here-container {
    top: 62%;
    left: 5%;
  }

  .click-here-container-envelope {
    margin-left: calc(80vw / 2 * (-1) - 3px);
    margin-top: 12%;
  }

  .click-here-container-ticket {
    margin-left: calc(80vw / 2 * (-1) - 3px);
    margin-top: 7%;
  }
}

@media screen and (max-height: 500px) and (min-height: 390px) and (orientation: landscape) {
  .back-envelope,
  .top-envelope,
  .back-top-envelope,
  .flip-card-inner {
    max-width: calc(100vh * 1.3);
    max-height: calc(100vh * 1.3 * 0.37);
  }

  .interior-border-container {
    max-width: calc(100vh * 1.3);
    max-height: calc(100vh * 1.3 * 0.1);
  }

  .ticket {
    max-width: calc(95vh * 1.3);
    max-height: calc(95vh * 1.3 * 0.37);
  }

  .click-here-container {
    top: 62%;
    left: 5%;
  }

  .click-here-container-envelope {
    margin-left: calc(80vw / 2 * (-1) - 3px);
    margin-top: 12%;
  }

  .click-here-container-ticket {
    margin-left: calc(80vw / 2 * (-1) - 3px);
    margin-top: 7%;
  }
}

@media screen and (min-width: 950px) {
  .back-envelope,
  .top-envelope,
  .back-top-envelope,
  .flip-card-inner {
    width: 800px;
    height: 300px;
  }

  .interior-border-container {
    width: 800px;
    height: 90px;
  }

  .ticket {
    width: 750px;
    height: 270px;
  }

  .click-here-container {
    top: 58%;
    left: 5%;
  }

  .click-here-container-envelope {
    margin-left: -407px;
    margin-top: 8%;
  }
  .click-here-container-ticket {
    margin-left: -425px;
    margin-top: 6%;
  }

  .top-envelope.can-hover-envelope {
    &:hover {
      -webkit-transform: rotateX(20deg) translateY(-5%);
      transform: rotateX(20deg) translateY(-5%);
      -webkit-box-shadow: 0 13px 10px -6px black;
      box-shadow: 0 13px 10px -6px black;

      .inviteText {
        -webkit-transform: rotateX(20deg) translateY(-5%);
        transform: rotateX(20deg) translateY(-5%);
      }
    }
  }

  .flip-ticket {
    &.can-hover-ticket {
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s;
      &:hover {
        -webkit-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        transform: translateY(-5%);
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .back-envelope,
  .top-envelope,
  .back-top-envelope,
  .flip-card-inner {
    width: 80vw;
    height: calc(80vw * 0.37);
  }

  .interior-border-container {
    width: 80vw;
    height: calc(80vw * 0.1);
  }

  .ticket {
    width: 75vw;
    height: calc(75vw * 0.37);
  }

  .click-here-container {
    top: 62%;
    left: 5%;
  }

  .click-here-container-envelope {
    margin-left: calc(80vw / 2 * (-1) - 3px);
    margin-top: 12%;
  }

  .click-here-container-ticket {
    margin-left: calc(80vw / 2 * (-1) - 3px);
    margin-top: 7%;
  }
}

@media screen and (max-width: 700px) {
  .click-here-container {
    top: 61%;
    left: 20%;
  }
  .click-here-container-envelope {
    margin-left: calc(80vw / 2 * (-1) - 2px) !important;
    margin-top: 12%;
  }
  .click-here-container-ticket {
    margin-left: calc(80vw / 2 * (-1) - 2px) !important;
    margin-top: 8%;
  }
}

.interior-border-container {
  position: absolute;
  bottom: 1px;
  z-index: 12;
  -webkit-filter: drop-shadow(4px -4px 8px black);
  filter: drop-shadow(4px -4px 8px black);
  overflow: hidden;
  background-size: 100% 100%;
}

.interior-border {
  background-image: url("../Images/bandainterior.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-size: inherit;
  -webkit-transform: translateY(4px) rotate(0.2deg);
  -ms-transform: translateY(4px) rotate(0.2deg);
  transform: translateY(4px) rotate(0.2deg);
}

.inviteText {
  font-family: "Parisienne", cursive;
  font-size: 40px;
  padding-bottom: calc(100% * 0.37 / 12);
  padding-right: calc(100% / 6.34);
  font-weight: 900;
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

// Ticket
.flip-ticket {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;

  .flip-ticket-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.ticket {
  background-repeat: no-repeat;
  cursor: url("../Images/heart.png"), auto;
  cursor: url("../Images/heart.cur"), auto;
  top: 0%;
  background-size: 100% 100%;

  &.ticket-front {
    background-image: url("../Images/biletfata.PNG");
  }
  &.ticket-back {
    background-image: url("../Images/biletspate.png");
  }
}

.ticket-open {
  .ticket-front {
    -webkit-animation: openTicketShadow 1.1s ease-in forwards;
    animation: openTicketShadow 1.1s ease-in forwards;
  }

  .ticket-drop-shadow {
    filter: drop-shadow(1px 1px 13px black) drop-shadow(1px 1px 7px black);
  }

  -webkit-animation: openTicket 1.1s ease-in forwards;
  animation: openTicket 1.1s ease-in forwards;
}

.ticket-close {
  .ticket {
    -webkit-animation: closeTicketShadow 1.1s ease-in forwards;
    animation: closeTicketShadow 1.1s ease-in forwards;
  }
  -webkit-animation: closeTicket 1.1s ease-in forwards;
  animation: closeTicket 1.1s ease-in forwards;
}

.flip-card-inner {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: 100% 100%;
}

.flip-card-back {
  rotate: 180;
}

.flipButton {
  width: 100px;
  height: 100px;
  margin-top: -8px;
  cursor: url("../Images/heart.png"), auto;
  cursor: url("../Images/heart.cur"), auto;
}

mat-icon {
  background-image: url("../Images/flip.png");
  background-size: cover;
  height: 30px;
  width: 30px;
  position: relative;
}

.flipIcon:before {
  content: "";
  background-color: #f3f3f3;
  border-radius: 50%;
  opacity: 0.8;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -7.5px;
  top: -8px;
  z-index: -1;
}

.click-here-container {
  position: absolute;
}
.click-here-container-envelope,
.click-here-container-ticket {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
  position: absolute;
}

.action-buttons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: url("../Images/heart.cur"), auto;

  .right-side-buttons {
    z-index: 21;
  }

  .background-icon {
    background-color: #f3f3f3;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: fadeInIconBackground 1.5s ease-in forwards;
    animation: fadeInIconBackground 1.5s ease-in forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &.background-icon-background {
      z-index: 21;
    }
    .action-button {
      position: relative;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      cursor: url("../Images/heart.png"), auto;
      cursor: url("../Images/heart.cur"), auto;

      &.background-flip {
        background-image: url("../Images/background-icon.png");
        opacity: 0;
        -webkit-animation: fadeIn 1.5s ease-in forwards;
        animation: fadeIn 1.5s ease-in forwards;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        z-index: 21;
      }
      &.location {
        background-image: url("../Images/location-icon.png");
        z-index: 1;
      }
    }
  }
}

.hide-all {
  .action-buttons .location,
  .invite-container,
  .flipButton {
    -webkit-animation: fadeOut 1.5s ease-in forwards;
    animation: fadeOut 1.5s ease-in forwards;
  }
  .location-background {
    -webkit-animation: fadeOutIconBackground 1.5s ease-in forwards;
    animation: fadeOutIconBackground 1.5s ease-in forwards;
  }
}

.show-all {
  .action-buttons .location,
  .invite-container,
  .flipButton {
    opacity: 0;
    -webkit-animation: fadeIn 1.5s ease-in forwards;
    animation: fadeIn 1.5s ease-in forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .location-background {
    opacity: 0;
    -webkit-animation: fadeInIconBackground 1.5s ease-in forwards;
    animation: fadeInIconBackground 1.5s ease-in forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
}

.background-icon-background {
  margin-bottom: 12px;
}

.hide {
  visibility: hidden;
}

.send-to-back {
  transform: translateZ(-1px);
}

.help-icon {
  background-image: url("../Images/help.png");
  margin-top: 2px;
}
