/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import "~@angular/material/theming";

@include mat-core();

$WeddingInvite-primary: mat-palette($mat-indigo);
$WeddingInvite-accent: mat-palette($mat-pink, A200, A100, A400);

$WeddingInvite-warn: mat-palette($mat-red);

$WeddingInvite-theme: mat-light-theme(
  $WeddingInvite-primary,
  $WeddingInvite-accent,
  $WeddingInvite-warn
);

@include angular-material-theme($WeddingInvite-theme);

html,
body {
  height: 100vh;
  width: 100vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
  cursor: url("app/Images/plane.png"), auto;
  cursor: url("app/Images/plane.cur"), auto;
  overflow: hidden;
}

body:before {
  content: "";
  background: url("./app/Images/background-black.png") no-repeat top left fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.container:before {
  content: "";
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(20, 20, 20, 0.45)),
    to(rgba(20, 20, 20, 0.45))
  );
  background: -o-linear-gradient(
    rgba(20, 20, 20, 0.45),
    rgba(20, 20, 20, 0.45)
  );
  background: linear-gradient(rgba(20, 20, 20, 0.45), rgba(20, 20, 20, 0.45));
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.hide-all:before {
  -webkit-animation: fadeOutBackground 1.5s ease-in forwards;
  animation: fadeOutBackground 1.5s ease-in forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.show-all:before {
  -webkit-animation: fadeInBackground 1.5s ease-in forwards;
  animation: fadeInBackground 1.5s ease-in forwards;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
